h1 h2  h3 {
  font-family: 'Muli', sans-serif;
}

h1 {
  font-size: 32pt;
}

body {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 16pt;
}

code > pre {
  overflow: auto;
  font-size: 16pt;
  font-family: 'Inconsolata', sans-serif;
}

hr {
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.6em;
  margin-bottom: 3em;
}

.prose {
  font-family: 'EB Garamond', serif;
  min-width: 15em;
  max-width: 25em;
  margin-left: auto;
  margin-right: auto;
/*
  -webkit-column-width: 15em;
  -webkit-column-gap:   1.5em;  
  -moz-column-width:    15em;
  -moz-column-gap:      1.5em;
  column-width:         15em;
  column-gap:           1.5em;
*/
}

.prose > p {
  text-align: justify;
}

.cp {
  font-family: 'EB Garamond', serif;
  font-size: small;
}

